$background: #f5fafa;
$lightBg: white;
$buttonColor: #417365;
$titleBackground: rgba(65, 115, 101, .1);
$titleColor: black;

.body {
  background: $lightBg;
  .titleRow {
    background: $lightBg;
    .title {
      background: url('/images/riskionaire.gif') no-repeat;
      background-size: 100%;
      height: 460px;
      position: relative;
      .titleBackground {
        border-radius: 100px;
        opacity: 1;
        background: $titleBackground;
        margin-top: 310px;
        margin-bottom: -10px;
        margin-left: -40px;
        margin-right: -40px;
        animation-name: show;
        animation-duration: 1ms;
        animation-delay: 2s;
        animation-iteration-count: 1;
        h1 {
          color: $titleColor;
          padding: 5px;
          text-align: center;
          font-size: 6em;
        }
      }
      .descRow {
        opacity: 1;
        animation-name: show;
        animation-duration: 1ms;
        animation-delay: 3s;
        animation-iteration-count: 1;
        margin-top: 0px;
        text-align: center;
        h2 {
          margin-bottom: -10px;
          font-size: 2.5em;
        }
      }  
    }
  } 
}

.profileButtons{
  margin-top: 10px;
  .button.hollow.secondary.small{
      border-color: $buttonColor;
      color: $buttonColor;
      border-radius: 20px;
      opacity: .5;
      margin-right: 5px;
    &.active {
      color: $background;
      background: $buttonColor;
      opacity: 1;
      &:hover{
        color: $buttonColor;
        background: $background;
        opacity: .5;
      }
    }
    &:hover{
      color: $background;
      background: $buttonColor;
      opacity: 1;
    }
  }
}

#indexForm {
    position: absolute;
    right: 60px;
    top: 55px;
    width: 300px;
    z-index: 10;
    padding: 0;
    #loginForm {
      box-shadow: 0 4px 30px -5px;
      padding: 20px;
      margin: 4px;
      border: 1px solid $buttonColor;
      background: $buttonColor;
      border-radius: 20px;
      input {
        color: $buttonColor;
      }
      label {
        font-size: 1em;
        color: $background;
      }
      .button.secondary.hollow {
        margin: 20px 0 0 0;
        color: $background;
        border-color: $background;
        &:hover {
          color: $buttonColor;
          background: $background;
          border-color: $buttonColor;
        }
      }
    }
  }
