$background: #f5fafa;
$buttonColor: #417365;

.profile{
  background: $background;
  .profileMenu {
    padding-top: 20px;
    padding-bottom: 30px;
    margin-right: -62px;
    .title-bar-title {
      font-size: .85em;
      font-weight: 300;
      letter-spacing: 1px;
      padding-top: 5px;
    }
    .button.hollow.secondary{
      border-color: $buttonColor;
      color: $buttonColor;
      border-radius: 20px;
      opacity: .5;
      &:hover{
        color: $background;
        background: $buttonColor;
        opacity: 1;
      }
    }
  }
  #profile-callout {
    border-width: 0px;
    font-weight: 300;
    letter-spacing: 1px;
    padding-bottom: 20px;
    h2{
      @extend #profile-callout;
      font-size: .85em;
      padding-bottom: 0;
    }
    h3{
      @extend #profile-callout;
      margin-top: -10px;
      font-size: .5em;
      padding-bottom: 0;
      border-bottom: 2px solid $buttonColor;
    }
    
  }
  #profileButtons {
    .button.hollow.secondary{
      color: $background;
      background: $buttonColor;
      letter-spacing: 1px;
      font-size: 14px;
      &:hover{
        border-color: $buttonColor;
        color: $buttonColor;
        background: transparent;
      }
    }
  }
}


#logout {
  cursor: pointer;
}

#createNewLists {
  padding: 10px 0;
}

#theLists {
  h1 {
    font-size: 1.5em;
    padding: 0 14px 0 20px;
  }
  h2 {
    font-size: 1em;
    padding: 0 14px 0 20px;
  }
  h3 {
    font-size: 0.75em;
    padding: 0 14px 0 20px;
  }
  .listbackground {
    background: transparent;
    border: 1px solid $buttonColor;
    padding: 20px 0;
    margin-bottom: 10px;
    transition: all .25s;
    cursor: pointer;
    width: 100%;
    &:hover {
      background: $buttonColor;
      color: $background;
    }
  }
  .questionbackground {
    @extend  .listbackground;
    padding: 20px 0 0;
    margin-bottom: 20px;
    background: $buttonColor;
    color: $background;
    button.secondary.hollow {
      border-color: $background;
      color: $background;
      &:hover {
        color: $buttonColor;
        background: $background;
      }
    }
    .buttonRow {
      margin-bottom: -1px;
      margin-top: 25px;
      margin-right: -3px;
      margin-left: -3px;
      .btLeft {
        border-left-width: 0px;
        border-bottom-width: 0px;
      }
      .btRight {
        border-bottom-width: 0px;
        width: 50%;
      }
    }
  }
}

#selectedList {
  background: $buttonColor;
  color: $background;
  .x-out {
    text-align: right;
  }
  #listView-questions{
    .listQuestion{
      padding: 20px 0;
      #removeQFromList{
        border-color: $background;
        color: $background;
        background: $buttonColor;
        padding: 5px;
        line-height: 10px;
        font-size: .5em;
        &:hover {
          border-color: $buttonColor;
          color: $buttonColor;
          background: $background;
        }
      }
    }
  }
  .buttonRow {
    margin-bottom: -1px;
    margin-top: 25px;
    margin-right: -16px;
    margin-left: -16px;
    button {
      border-color: $background;
      color: $background;
      &:hover {
        color: $buttonColor;
        background: $background;
      }
    }
    .btLeft {
      border-left-width: 0px;
      border-bottom-width: 0px;
    }
    .btRight {
      border-bottom-width: 0px;
      width: 50%;
    }
  }
  #listView {
    #listEditForm {
      color: $buttonColor;
      input {
        padding: 8px 0 8px 5px;
      }
      .label {
        font-size: 1em;
        margin-left: -22px;
        margin-top: 10px;
        background: transparent;
        color: $background;
      }
      .buttonRow{
        input {
          border-color: $background;
          color: $background;
          padding: .85em 1em;
          &:hover {
            color: $buttonColor;
            background: $background;
          }
        }
      }
    }
  }
}