#logout {
  cursor: pointer;
}

#createNewLists {
  padding: 10px 0;
}

#theLists {
  h1 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 1em;
  }
  h3 {
    font-size: 0.75em;
  }
  .listbackground {
    background: #d3d3d3;
    &:hover {
      background: orange;
    }
  }
  .questionbackground {
    background: #d3d3d3;
    &:hover {
      background: orange;
    }
  }
}