<div class="row playingField">
  <div class="small-8 columns">
    <div id="map"></div>
  </div>
  <div class="small-4 columns">
    <div class="row">
      <div class="small-4 small-centered columns menuButtons">
        <div class="row">
          <div class="small-5 columns">
            <button id="gameProfileButton" class="secondary hollow button small">Profile</button>
          </div>
          <div class="small-5 columns">
            <button id="gameLogoutButton" class="secondary hollow button small">Logout</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-10 small-centered columns">
        <div id="questionField">
          <h1>Select a grey state to get started</h1>
        </div>
      </div>
    </div>
    
  </div>
</div>




{{> question }}