<div class="row body">
  <div class="small-12 columns">

    <div class="row">
      <div id="indexMenu" class="small-3 float-right columns menuButtons">
        <div class="row">
          <div class="small-12 columns">
            <div class="button-group profileButtons">
              <button id="indexSignupButton" class="secondary hollow button small">Signup</button>
              <button id="indexLoginButton" class="secondary hollow button small">Login</button>
            </div>
          </div>
        </div>

        <div class="row">
          <div id="indexForm" class="small-12 columns">
          
          </div>
        </div>
      </div>
    </div>

    <div class="row titleRow">
      <div class="small-12 columns">
        <div class="row">
          <div class="small-5 small-centered columns title">

            <div class="row">
              <div class="small-12 small-centered columns">
                <div class="titleBackground">
                  <h1>{{title}}</h1>
                </div>
              </div>
            </div>

            <div class="row descRow">
              <div class="small-12 small-centered columns">
                <h2>{{description1}}</h2>
                <h2>{{description2}}</h2>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    


  </div>
</div>

{{> loginForm}}