<div class="row">
  <div class="small-10 small-centered columns">
    <div class="row">
      <div class="small-12 columns">
        <h1>{{title}}</h1>
      </div>

      <div class="small-12 columns">
        <p>Welcome to {{title}}</p>
      </div>

    </div> 
    {{!-- end row --}}

    <div class="row">
      <div id="content"></div>
    </div>
    {{!-- end row --}}
  </div>
</div>


