<div class="row">
  <div class="medium-6 medium-centered large-4 large-centered columns">

    <form id='loginForm'>
      <div class="row column log-in-form">
        <h4 class="text-center">Log-in</h4>
        <label>Email
          <input type="text" name="email" placeholder="somebody@example.com">
        </label>
        <label>Password
          <input type="password" name="password" placeholder="Password">
        </label>
        <input type="submit" value="Login up" class="button expanded"> 
      </div>
    </form>

  <button id='logout'>logout</button>

  </div>
</div>