<div class="off-canvas-wrapper">
 
  <div class="off-canvas-content" data-off-canvas-content>
    <div class="title-bar">
      <div class="title-bar-left">
        <span class="title-bar-title">
          {{user.email}}
        </span>
      </div>
      <div class="title-bar-right">
        <button id="logoutButton" type="button">Logout</button>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="small-8 columns">
      <div class="callout primary">
        <div class="row column">
          <h5 id="profile-callout">Select with which list to play</h5>
        </div>
      </div>

      <div id="theLists" class="row small-up-2 medium-up-3 large-up-4"></div>

    </div>
    <div id="selectedList" class="small-4 columns">
      selected list will go here.
    </div>
  </div>
</div>

{{> lists}}
{{> questions}}
{{> newList}}
{{> listView}}
{{> newRadio}}