<div class="row profile">
  <div class="small-10 small-centered columns">
       
    <div class="row profileMenu">
      <div class="small-4 float-right columns">
        <div class="row">
          <div class="small-5 columns">
            <span class="title-bar-title">
              {{user.email}}
            </span>
          </div>
          <div class="small-5 columns">
            
              <button id="logoutButton" type="button" class="button hollow secondary small">Logout</button>
            
          </div>
          
        </div>
      </div>
    </div>


    <div class="row">
      <div class="small-6 columns">
      
        <div class="row">
          <div class="small-12 columns">
            <h2 id="profile-callout"></h2>
          </div>
        </div>
       

        <div id="theLists" class="row small-up-1"></div>

      </div>
      <div id="profileButtons" class="small-2 columns">
        
      </div>
      <div id="selectedList" class="small-4 columns">
        selected list will go here.
      </div>
    </div>

  </div>
</div>

{{> lists}}
{{> questions}}
{{> newList}}
{{> listView}}
{{> listEdit}}
{{> newRadio}}
{{> createdQuestion}}
{{> addQuestionToList}}
{{> questionView}}
{{> questionEdit}}