<script id="createdQuestion-template" type="text/x-handlebars-template">
  <div class="row">
    <div class="small-12 columns"> 
      <div id="question-\{{this.id}}" class="questionbackground">
        <h1>\{{this.question}}</h1>
        <h2>\{{this.answer}}</h2>
        
        \{{#each falseAnswers}}
        <h3>\{{this}}</h3>
        \{{/each}}

        <div class="expanded button-group buttonRow">
            
          \{{#unless inCurrentList}}
            <button class="button hollow secondary btLeft" onclick="addToList(\{{this.id}}, currentList)">Add to list</button>
          \{{/unless}}
        
        
          <button class="button hollow secondary btRight" onclick="getQuestionView('selectedList',\{{this.id}})">Edit Question</button>
           
        </div>
      </div> 
    </div>
  </div>
</script>
