<script id="listView-template" type="text/x-handlebars-template">
  <div id="listView" class="row">
    <div class="small-12 columns">
      <div class="row">
        <div class="small-12 columns">
          <h3>\{{this.name}}</h3>
        </div>
      </div>

      <div class="row">
        <div class="small-9 columns">
          <h4>\{{this.description}}
        </div>
      </div>
      

      <div class="row">
        <div class="small-12 columns">
          Questions: <span id="listView-amountOfQs">\{{this.Radios.length}}</span>
        </div>
      </div>
      

      \{{#if Radios}}
      <hr/>
      <div class="row">
        <div class="small-10 float-right columns x-out">
          Remove from list
        </div>
      </div>
      \{{/if}}

      <div id="listView-questions">
        \{{#each Radios}}
        <div id="listQuestion-\{{this.id}}" class="row listQuestion">
          <div class="small-9 columns">
            \{{this.question}}
          </div>
          <div class="small-3 columns">
            <button id="removeQFromList" class="button small" onclick="removeQFromList(\{{this.id}}, currentList)">X</button>
          </div>
        </div>
        \{{/each}}
      </div>
      
      <div class="row">
        <div class="small-12 columns">
          <div class="expanded button-group buttonRow">
            \{{#if Radios}}
              <button class="button hollow secondary btLeft" onclick="startGame(\{{this.id}})">Play</button>
            \{{/if}}
            
            
              <button class="button hollow secondary btRight" onclick="getEditListForm('selectedList', currentList)">Edit List</button>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</script>

