<script id="listView-template" type="text/x-handlebars-template">
  <div id="listView" class="row">
    <div class="small-10 small-centered columns">
      <h3>\{{this.name}}</h3>
      

      <div class="row">
        <div class="small-12 columns">
          Questions: \{{this.Radios.length}}
        </div>
      </div>
      <hr/>

      
      \{{#each Radios}}
      <div id="listQuestion-\{{this.id}}" class="row">
        <div class="small-9 columns">
          \{{this.question}}
        </div>
        <div class="small-3 columns">
          <button id="removeQFromList" class="button" onclick="removeQFromList(\{{this.id}}, currentList)">Remove From List</button>
        </div>
      </div>
      \{{/each}}
      

      <hr/>

      <div class="row">
        <div class="small-6 columns">
          <button class="button" onclick="startGame(\{{this.id}})">Play</button>
        </div>
        <div class="small-6 columns">
          <button class="button" onclick="deleteList(\{{this.id}})">Delete List</button>
        </div>
      </div>

    </div>
  </div>
</script>

