<script id="login-template" type="text/x-handlebars-template">

    <form id='loginForm'>
      <div class="log-in-form">
        <h4 class="text-center">Log-in</h4>
        <label>Email
          <input type="text" name="email" placeholder="somebody@example.com">
        </label>
        <label>Password
          <input type="password" name="password" placeholder="Password">
        </label>
        <input type="submit" value="Login" class="button expanded"> 
      </div>
    </form>

  
</script>


