<script id="newList-template" type="text/x-handlebars-template">

<div id="createNewLists">
    <div class="row">
      <div class="small-10 small-centered columns"> 
        <h4>Create a new list</h4>
        <form>
          <div class="row">
            <div class="small-12 columns">
              <input id="newlist-name" type="text" name="name" placeholder="name">
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <input id="newlist-desc" type="text" name="description" placeholder="description">
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <input type="checkbox" name="private">  Private?
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <input class="button" type="submit" value="Create List">
            </div>
          </div>  
        </form>
      </div>
    </div>
  </div>
</script>


