<script id="newRadio-template" type="text/x-handlebars-template">

<div id="createNewRadio">
    <div class="row">
      <div class="small-12 small-centered columns"> 
        <h1>Create a new Question</h1>
        <form>
          <div class="row">
            <div class="small-12 columns">
              <input id="newquestion-question" type="text" name="question" placeholder="Question">
            </div>
          </div>
           <div class="row">
            <div class="small-12 columns">
              <h2>Enter the correct answer for the question</h2>
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <input id="newquestion-answer" type="text" name="answer" placeholder="Answer">
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <h2>Enter up to 5 wrong answer choices</h2>
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <input id="newquestion-false1" type="text" name="false1" placeholder="False Answer 1">
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <input id="newquestion-false2" type="text" name="false2" placeholder="False Answer 2">
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <input id="newquestion-false3" type="text" name="false3" placeholder="False Answer 3">
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <input id="newquestion-false4" type="text" name="false4" placeholder="False Answer 4">
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <input id="newquestion-false5" type="text" name="false5" placeholder="False Answer 5">
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <input class="button secondary hollow" type="submit" value="Create Question">
            </div>
          </div>  
        </form>
      </div>
    </div>
  </div>
</script>