<script id="newRadio-template" type="text/x-handlebars-template">

<div id="createNewRadio">
    <div class="row">
      <div class="small-10 small-centered columns"> 
        <h4>Create a new Question</h4>
        <form>
          <div class="row">
            <div class="small-12 columns">
              <input id="newquestion-question" type="text" name="question" placeholder="Question">
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <input id="newquestion-answer" type="text" name="answer" placeholder="Answer">
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <h5>Enter up to 5 wrong answer choices</h5>
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <input id="newquestion-false1" type="text" name="false1" placeholder="False1">
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <input id="newquestion-false2" type="text" name="false2" placeholder="False2">
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <input id="newquestion-false3" type="text" name="false3" placeholder="False3">
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <input id="newquestion-false4" type="text" name="false4" placeholder="False4">
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <input id="newquestion-false5" type="text" name="false5" placeholder="False5">
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <input class="button" type="submit" value="Create Radio">
            </div>
          </div>  
        </form>
      </div>
    </div>
  </div>
</script>