<script id="questionEdit-template" type="text/x-handlebars-template">
  <div id="questionEdit" class="row">
    <div class="small-10 small-centered columns">
      <form id="questionEditForm">
        <div class="row">
          <div class="small-12 columns">
          <input id="editQuestion-question" value="\{{this.question}}">
          </div>
        </div>
        <div class="row">
          <div class="small-12 columns">
          <input id="editQuestion-answer" value="\{{this.answer}}">
          </div>
        </div>
        <div class="row">
          <div class="small-12 columns">
          <input id="editQuestion-false1" value="\{{this.false1}}" placeholder="False Answer">
          </div>
        </div>
        <div class="row">
          <div class="small-12 columns">
          <input id="editQuestion-false2" value="\{{this.false2}}" placeholder="False Answer">
          </div>
        </div>
        <div class="row">
          <div class="small-12 columns">
          <input id="editQuestion-false3" value="\{{this.false3}}" placeholder="False Answer">
          </div>
        </div>
        <div class="row">
          <div class="small-12 columns">
          <input id="editQuestion-false4" value="\{{this.false4}}" placeholder="False Answer">
          </div>
        </div>
        <div class="row">
          <div class="small-12 columns">
          <input id="editQuestion-false5" value="\{{this.false5}}" placeholder="False Answer">
          </div>
        </div>
        

        <div class="row">
          <div class="small-12 columns">
            <input class="button" type="submit" value="Save Edits"> 
          </div>
        </div>
      </form>

    </div>
  </div>
</script>