<script id="questions-template" type="text/x-handlebars-template">
  \{{#each question}}
    <div class="row">
      <div class="columns small-12">
        <div id="question-\{{this.id}}" class="questionbackground">
          <h1>\{{this.question}}</h1>
          <h2>\{{this.answer}}</h2>
          
          \{{#each falseAnswers}}
          <h3>\{{this}}</h3>
          \{{/each}}

          <div class="row buttonRow">
            <div class="small-6 columns">
              \{{#unless inCurrentList}}
                <button class="button hollow secondary" onclick="addToList(\{{this.id}}, currentList)">Add to list</button>
              \{{/unless}}
            </div>
            <div class="small-6 columns">
                <button class="button hollow secondary" onclick="getQuestionView('selectedList',\{{this.id}})">Edit Question</button>
            </div>
          </div>

        </div>
      </div> 
    </div>
  \{{/each}}
</script>

